/*Google Fonts*/

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
body {
  font-family: "Bitter";
  background-image: url("http://www.3dwallpaperstudio.com/wallpapers/blue_puzzle-2560x1440.jpg");
  text-align: center;
}

h1 {
  font-family: "Luckiest Guy";
}


/*game creator*/

.author {
  font-family: "Bitter";
  font-size: 26px;
}

#instructiontitle {
  font-size: 28px;
  font-weight: bold;
  font-family: "Rokkitt";
}

.splashpagewrapper {
  background: #fff;
  padding: 10px;
  margin: auto;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 8px solid;
}

.instructionbox {
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
}


/*The logo image*/

#gamelogo {
  display: block;
  margin: auto;
  width: 20%;
}


/*The div around the game instructions*/

.instructionbox {
  border: 3px solid #000;
  margin: 10px;
  padding: 10px;
}


/*The "Play" button to start the game*/

#playbutton {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  font-family: "Press Start 2P";
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  border: 3px dotted #000000;
}

#playbutton:hover {
  background: red;
  border: 3px solid #000000;
}


/* unvisited link */

a:link {
  color: #000099;
}


/* visited link */

a:visited {
  color: #000099;
}


/* mouse-over link */

a:hover {
  cursor: pointer;
  color: #e60000;
}


/* popup styles to choose accnt type */
.popup {
  display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}
.popup-overlay {
	background: rgba(0,0,0,0.9);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.popup-content {
	position: absolute;
  background: #fff;
	width: 500px;
	margin: -58px 0 0 -264px;
	left: 50%;
	top: 50%;
	z-index: 11;
  padding: 14px;
}
.close-popup {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -30px;
  font-size: 42px;
}

.scaleIn {
  animation: scaleIn 0.5s ease-in both;
  -webkit-animation: scaleIn 0.5s ease-in both;
}
@keyframes scaleIn {
  from { opacity: 0; -webkit-transform: scale(0.5); transform: scale(0.5); }
}
@-webkit-keyframes scaleIn {
  from { opacity: 0; -webkit-transform: scale(0.5); }
}

.scaleOut {
  animation: scaleOut 0.5s ease-out both;
  -webkit-animation: scaleOut 0.5s ease-out both;
}
@keyframes scaleOut {
  to { opacity: 0; -webkit-transform: scale(0.5); transform: scale(0.5); }
}
@-webkit-keyframes scaleOut {
  to { opacity: 0; -webkit-transform: scale(0.5); }
}
